<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Dashboard Senio manager</title>
</head>
<body class="sb-nav-fixed">
<app-header></app-header>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <app-sidebar></app-sidebar>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Tables</h1>

        <div class="card mb-4">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div>
              <i class="fas fa-table me-1"></i>
              Table Utilisateur
            </div>
            <button type="button" class="btn" style="background-color: #4f84b5; color: white;" data-bs-toggle="modal" data-bs-target="#registerModal">
              Nouveau Utilisateur
            </button>
          </div>
          <div class="card-body">
            <table  class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created At</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.created_at | date }}</td>
                <td>
                  <ul class="list-inline m-0">
                    <li class="list-inline-item">
                      <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                    </li>
                    <li class="list-inline-item">
                      <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Facturix 2024</div>
        </div>
      </div>
    </footer>

  </div>
</div>


  <app-register></app-register>


</body>
</html>

